/* colors
orange: #FCB885
rose: #EEE7E8
beige: #FDF8F4
marron: #47403B */

@import url("progress_bar.css");
@import url("navbar.css");
@import url("parcours.css");
@import url("projets.css");

body {
  background-color: #EEE7E8;
  font-family: "Work Sans", "sans-serif";
}

h1, h2, h3 {
    font-family: "Roboto", "sans-serif";
}

.container {
  background-color: #FDF8F4;
  width: 80%;
  margin: 0 auto;
  padding: 0 10vh;
}

.wrapper {
  border-bottom: 1px solid #FCB885;
  padding: 20px 0;
}
